.footer {
  width: 100%;
  position: fixed;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dischargeDay {
  font-size: 14px;
  font-family: 'Gamja Flower', cursive;
  padding: 3px 3px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.copyrightName {
  font-size: 14px;
  font-family: 'Gamja Flower', cursive;
  margin-top: 10px;
}