body{
  background-color: #1abc9c;
}

.mainContainer {
  width: 100%;
  display: grid;
  grid-template-rows: 60px;
  grid-auto-rows: 40px;
  justify-content: center;
  justify-items: center;
  position: fixed;
  top: 25%;
}

.js-clock{
  text-align: center;
}

.clockTitle{
  /*  font  */
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #34495e;
  /* box */
  width: 252px;
}

.questionNameForm .questionNameInput {
  /*  font  */
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  color: #3498db;
  /*  align  */
  text-align: center;
  /*  box  */
  border: 1px solid #34495e;
  border-radius: 20px;
  padding: 10px 20px;
}

.questionNameForm .questionNameInput:focus {
  outline: none;
}

.welcomeName {
  /*  font  */s
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #34495e;
  /*  align  */
  text-align: center;
  /*  box  */
  padding: 10px 20px;
}

.todoForm .todoInput {
  /*  font  */
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  color: #2c3e50;
  /*  align  */
  text-align: center;
  /*  box  */
  border: 5px solid #16a085;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.todoInput:focus {
  outline: none;
}

.todoList{
  width: 252px;
}

.todos {
  /*  position  */
  margin: 15px 0;
  padding-left: 10px;
  /*  box  */
  border-left: 4px ridge #16a085;
  border-bottom: 2px dotted #34495e;
  /*  font  */
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #2c3e50;
  font-size: 1.1em;
  word-wrap: break-word;
  line-height: 1.2em;
}

.todos:nth-child(odd){
  border-left: 4px ridge #8e44ad;
}