.popUpContainer{
  display: flex;
  justify-content: center;
}

.popUpBox{
  width: 250px;;
  height: 10%;
  background-color: #3498db;
  opacity: 0.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  position:fixed;
  top: 10%;
  
  color: black;
  border: 6px solid #2980b9;
  border-radius: 25px;
  
  font-family: 'Inconsolata', monospace;
  font-size: 1.5em;
}

.popUpText{
  border-bottom: 2px solid black
}

.hide{
  display: none;
}