@import url("reset.css");
@import url("index.css");
@import url("popUpBox.css");
@import url("name_DP_CONTROL.css");
@import url("footer.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* font use = [font-family: 'Montserrat', sans-serif;] */
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
/* font use = [font-family: 'Inconsolata', monospace;] */
@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
/* font-family: 'Gamja Flower', cursive; */
